



h5
{
	font-weight:bold;
}


body {

  height: 100%;
  background-color: #fdfdfd;
  color: #000;  
  padding-top: 10px;
  
}
.hmail_1
{
	font-weight:bold;
}
.encadre{
	border: 1px solid black;
	border-radius: 5px;
	padding-bottom: 10px;
}
.joueur_equipe{
	border: 1px solid black;
	border-radius: 5px;
	padding-bottom: 10px;
}
.place_libre{
	color: #AAA;
}
.joueur_equipe{
padding-left: 0px;
padding-right: 0px;
margin-left: 0px;
margin-right: 0px;
}
ul,li{
padding-left: 0px;
padding-right: 0px;
margin-left: 0px;
margin-right: 0px;
}

.place_occuppee{
padding-left: 0px;
padding-right: 0px;
margin-left: 0px;
margin-right: 0px;
}
select{
text-align: center;
}

h3
{
	text-align:center;
}
/*
[class*="col-"], footer {
  background-color: #EEE;
   border: 1px solid black;
  border-radius: 6px;
  line-height: 40px;
  text-align: center;
  
  padding-right: -15px;
} */
h1
{
	text-align: center;
}

.row
{
	align-items: center;
}

.texte_important		/*utiliser dans les modals de suppression*/
{	
    font-weight: bold;
}
.reference_batterie_css{
	font-weight: bold;
	font-size: x-large;	
}

/*************************************************************************************************/
/* modification du style des tabs (gestion des fiches      )                                    */
/*************************************************************************************************/
.my_onglets{
color:white;
}
.my_onglets:hover{
	color:black;
	background: white;
}

.fiche_contenu{
background-color:white;
color:black;
}

.my_card{
background-color:#f1f1f1;
color:black;
}


@media (min-width: 576px) {
    .card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

@media (min-width: 768px) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
	
}
}

@media (min-width: 992px) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}


}

/*************************************************************************************************/
/* modification du style de la liste déroulante de l'autocomplétion                                                         */
/*************************************************************************************************/
  .ui-autocomplete {

  }

/*************************************************************************************************/
/* modification du style des boites de dialogues (modal) pour ajout/modifictaions et suppression */
/*************************************************************************************************/
.modal_span{
	word-wrap: break-word;
}

.modal-dialog
{
color: black;
width: 120%;

}

.my_modal_header_ajout{
	background-color: #428bca;
	color:white;
}
.my_modal_header_modifications{
	background-color: #f0ad4e;
	color:white;	
}

.my_modal_header_suppression{
	background-color: #d9534f;;
	color:white;
}

/****************************************************************************/
/*modification du style des boites de dialogues suites à validation/ abandon*/
/****************************************************************************/
.mytoast_validation{
	
	background-color: green;
	position: fixed;
	right:0%;
	top:20%;
	transform: translate(-10%, -50%);
	
}

.mytoast_echec{
	
	background-color: red;
	position: fixed;
	right:0%;
	top:20%;
	transform: translate(-10%, -50%);
	color: white;
}

/* modifications des propritées des tables */
.table{
	color: black;
	table-layout: fixed;
	border: 2px solid black;
}
td {
  word-wrap: break-word;  
  vertical-align: middle;
}



/* apparition du sens -interdit sur le button lorsqu'il est disable */
button:disabled {
  cursor: not-allowed;
} 

/************************************************/
/* éléments cachés au départ */
/************************************************/
.element_cache_debut{
	display:none;
}

